<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgcc.bg.lunwen.mapper.LwFileMapper">

    <insert id="addLwFile">
        insert into bg_lw_file
        (
            UUID,
            FILE_NAME,
            BUSINESS_ID,
            BUSINESS_TABLE,
            FILE_EXT_NAME,
            FTP_FILE_NAME,
            FTP_FILE_PATH,
            BUSINESS_MODULE,
            FILE_SIZE,
            CREATE_USER,
            CREATE_TIME,
            VALID
        )
        values (
            #{uuid},
            #{fileName},
            #{bussinessId},
            #{bussinessTable},
            #{fileExtName},
            #{ftpFileName},
            #{ftpFilePath},
            #{bussinessModule},
            #{fileSize},
            #{createUser},
            #{createTime},
            #{valid}
        )
    </insert>


    <update id="delLwFile">
      update bg_lw_file
      set valid = #{valid}
      where uuid = #{uuid}
    </update>


    <select id="selectLwFile" resultType="java.util.Map">
        select
        f.uuid uuid,
        f.file_name fileName,
        f.business_id businessId,
        f.file_ext_name fileExtName,
        f.ftp_file_name ftpFileName,
        f.ftp_file_path ftpFilePath,
        to_char(f.create_time,'YYYY-MM-DD HH24:MI:SS') createTime,
        f.file_size fileSize
        from bg_lw_file f
        where 1=1
        and f.business_id = #{bussinessId}
        and f.business_table = #{bussinessTable}
        and f.valid = #{valid}
    </select>

    <select id="findLwFile" resultType="java.util.Map">
        select
        f.uuid uuid,
        f.file_name fileName,
        f.business_id businessId,
        f.file_ext_name fileExtName,
        f.ftp_file_name ftpFileName,
        f.ftp_file_path ftpFilePath,
        to_char(f.create_time,'YYYY-MM-DD HH24:MI:SS') createTime,
        f.file_size fileSize
        from bg_lw_file f
        where 1=1
        and f.uuid = #{uuid}
    </select>


    <select id="findLwFileForFileName" resultType="java.util.Map">
        select
        f.uuid uuid,
        f.file_name fileName,
        f.business_id businessId,
        f.file_ext_name fileExtName,
        f.ftp_file_name ftpFileName,
        f.ftp_file_path ftpFilePath,
        to_char(f.create_time,'YYYY-MM-DD HH24:MI:SS') createTime,
        f.file_size fileSize
        from bg_lw_file f
        where 1=1
        and f.file_name = #{fileName}
        and f.file_ext_name = #{fileExtName}
        and f.valid = #{valid}
    </select>

    <select id="findLwFileForPaperId" resultType="java.util.Map">
        select *
          from bg_lw_file
         where business_id = #{paperId}
           and file_name = #{fileName}
           and file_ext_name = #{fileExtName}
           and valid = #{valid}
    </select>
</mapper>