<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:cache="http://www.springframework.org/schema/cache" xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/rabbit
		http://www.springframework.org/schema/rabbit/spring-rabbit-1.1.xsd">

	<description>Spring公共配置</description>

	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="com.sgcc.bg">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	
	<!-- AOP  -->
	<bean id="DataSourceAspect" class="com.sgcc.bg.common.DataSourceAspect"/>
	<aop:config>
		<!-- <aop:advisor pointcut="execution(* com.sgcc.bg.mapper.*.*(..))" advice-ref="DataSourceAspect"/> -->
		<aop:advisor pointcut="execution(* com.sgcc.bg.**.*mapper.*(..))" advice-ref="DataSourceAspect"/>
	</aop:config>
	<!-- 导入Mybatis 配置 -->
	<import resource="applicationContext-mybatis.xml" />
	<!-- 导入cache 配置 -->
	<import resource="applicationContext-cache.xml" />
	
	<bean id="executor" class="org.springframework.core.task.SimpleAsyncTaskExecutor">
		<property name="concurrencyLimit" value="3000"></property>
	</bean>

	<task:scheduled-tasks>
		<task:scheduled ref="quartzJob" method="syncDeptAndUserData" cron="0 45 4,12 * * ?" />
		<task:scheduled ref="quartzJob" method="deleteErrorInfoFilesFromFtp" cron="0 0 4 * * ?" />
        <task:scheduled ref="handleSyncJob" method="handleData" cron="0 0 2,13 * * ?" />
		<task:scheduled ref="syncKqInfoJob" method="syncBaseDataForKq" cron="0 30 1 4 * ?" />
	</task:scheduled-tasks>
	
	
	<context:property-placeholder
			ignore-resource-not-found="true" location="classpath*:/application.properties" />

	<rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}" username="${rabbitmq.username}" password="${rabbitmq.password}" port="${rabbitmq.port}" />

	<rabbit:admin connection-factory="connectionFactory" />

	<rabbit:queue id="QUEUE_TYGLPT_APP" name="QUEUE_TYGLPT_APP" durable="true"/>

	<rabbit:direct-exchange name="directExchange">
		<rabbit:bindings>
			<rabbit:binding queue="QUEUE_TYGLPT_APP"/>
		</rabbit:bindings>
	</rabbit:direct-exchange>

	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="directExchange"/>
	
	<!-- 配置多媒体文件解析器 -->
	<!-- 文件上传 -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		设置上传文件的最大尺寸为10MB
		<property name="maxUploadSize">
			<value>10485760</value>
		</property>
		 <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
		
	</bean> -->
</beans>