<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.ApproverMapper">
	<!-- 获取所有专责权限信息 -->
	<select id="getAllApprovers" resultType="java.util.Map">
		SELECT T.UUID,
			   U.USERNAME,
		       U.USERALIAS,
		       U.HRDEPTNAME,
		       U.HRCODE,
		       T.SUBTYPE,
		       N.NAME AS SUBNAME,
		       D.DEPTNAME,
		       D.DEPTCODE,
		       D.TYPE
		  FROM BG_SYS_APPROVAL_USER_R_SUBTYPE T
		  LEFT JOIN BG_SYS_USER U
		    ON U.USERID = T.USER_ID
		   AND U.STATE = 0
		  LEFT JOIN BG_SYS_DEPT D
		    ON D.DEPTID = T.MANAGE_DEPT
		   AND T.VALID = 1
		  LEFT JOIN BG_SYS_DATADICTIONARY N
		    ON N.PCODE = 'submitUserType'
		   AND N.CODE = T.SUBTYPE
		   AND N.VAILD = 1
		   WHERE t.valid=1
		   <if test="username != null and username != ''" >
			AND U.USERALIAS LIKE '%'||#{username,jdbcType=VARCHAR}||'%'
	       </if>	
	       <if test="empCode != null and empCode != ''" >
			AND U.HRCODE = #{empCode,jdbcType=VARCHAR}
	       </if>
	       <if test="deptCode != null and deptCode != ''" >
			AND D.DEPTCODE = #{deptCode,jdbcType=VARCHAR}
	       </if>
	       <if test="subType != null and subType != ''" >
			AND T.SUBTYPE = #{subType,jdbcType=VARCHAR}
	       </if>
		 ORDER BY SUBTYPE,USERNAME NULLS LAST
	</select>
	
	<!-- 插入专责人员角色 -->
	<insert id="addApprover"  parameterType="String">
		INSERT INTO BG_SYS_APPROVAL_USER_R_SUBTYPE
		    (USER_ID, MANAGE_DEPT, SUBTYPE)
		    SELECT (SELECT U.USERID
		              FROM BG_SYS_USER U
		             WHERE U.HRCODE = #{empCode, jdbcType = VARCHAR}
		               AND U.STATE = 0),
		           (SELECT D.DEPTID
		              FROM BG_SYS_DEPT D
		             WHERE D.DEPTCODE = #{deptCode, jdbcType = VARCHAR}
		               AND D.VALID = 1),
		           #{subType, jdbcType = VARCHAR}
		      FROM DUAL
	</insert>
	
	<!-- 根据id删除审批人，逻辑删除 -->
	<update id="deleteApprover">
		UPDATE BG_SYS_APPROVAL_USER_R_SUBTYPE T
		    SET T.VALID = 0, T.UPDATE_TIME = SYSDATE
		  WHERE T.UUID = #{id}                           
	</update>
	
	<select id="getDeptByDeptCode" resultType="java.util.Map">
		SELECT *
		  FROM BG_SYS_DEPT
		 WHERE VALID = 1
		   AND DEPTCODE = #{deptCode,jdbcType=VARCHAR}
	</select>
	
	<update id="deleteOrganByPDeptCode"> 
		UPDATE BG_SYS_PRIV_USER_R_ORGAN O
  		  	SET O.VALID = 0, O.UPDATE_TIME = SYSDATE
		 WHERE 1 = 1
		   <if test="empCode != null and empCode != ''" >
				AND (SELECT PDEPTCODE FROM BG_SYS_DEPT WHERE DEPTID = O.ORGAN_ID) = #{pDeptCode,jdbcType=VARCHAR}
		   </if>
		   <if test="pDeptCode != null and pDeptCode != ''" >
				AND (SELECT HRCODE FROM BG_SYS_USER WHERE USERID = O.USER_ID) = #{empCode,jdbcType=VARCHAR}
		   </if>
	</update>
	
</mapper>