<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgcc.bg.mapper.BGMapper">

	<select id="getAllProjects" resultType="java.util.Map">
		<!-- SELECT * FROM(
			SELECT ROWNUM rn,p.* FROM(
				) p
			 <![CDATA[WHERE ROWNUM<=#{end})]]>
		<![CDATA[WHERE rn>#{start}]]> -->
		SELECT ROW_NUMBER() OVER(ORDER BY T1.UPDATE_DATE DESC) AS RN,
		       T1.ID AS "id",
		       T1.PROJECT_NAME AS "projectName",
		       (SELECT NAME
		          FROM BG_SYS_DATADICTIONARY
		         WHERE PCODE = 'category100002'
		           AND VAILD = 1
		           AND CODE = T1.CATEGORY) AS "category",
		       T1.WBS_NUMBER AS "WBSNumber",
		       T1.PROJECT_NUMBER AS "projectNumber",
		       T1.PROJECT_INTRODUCE AS "projectIntroduce",
		       T1.ORGAN_INFO AS "organInfo",
		       TO_CHAR(T1.START_DATE, 'yyyy-mm-dd') AS "startDate",
		       TO_CHAR(T1.END_DATE, 'yyyy-mm-dd') AS "endDate",
		       T1.PLAN_HOURS AS "planHours",
		       T1.PROJECT_STATUS AS "projectStatus",
		       T1.DECOMPOSE AS "decompose",
		       T1.STATUS AS "status",
		       T1.SRC AS "src",
		       T1.RELATED_PROJECT_ID AS "relProId",
		       (SELECT COUNT(DISTINCT T2.HRCODE)
		          FROM BG_PROJECT_USER T2
		         WHERE T2.PROJECT_ID = T1.ID
		           AND T2.STATUS = '1') AS "amount",
		       (SELECT TO_CHAR(WM_CONCAT(DISTINCT T4.EMPNAME))
				FROM BG_PROJECT_USER T4
				WHERE T4.PROJECT_ID = T1.ID
				AND T4.STATUS = '1'
				and T4.ROLE='1') AS "principal",
		       (SELECT TO_CHAR(WM_CONCAT(DISTINCT T3.EMPNAME))
		          FROM BG_PROJECT_USER T3
		         WHERE T3.PROJECT_ID = T1.ID
		           AND T3.STATUS = '1') AS "empName",
		       SIGN((SELECT COUNT(1)
		          FROM BG_PROJECT_INFO
		         WHERE RELATED_PROJECT_ID = T1.ID)) AS "isRelated"
		  FROM BG_PROJECT_INFO T1
		WHERE (#{username} IN
                      (SELECT username
                         FROM BG_SYS_USER t5
                         JOIN BG_PROJECT_USER t6
                           ON t5.hrcode = t6.hrcode
                        WHERE t6.project_id = t1.id
                          AND t6.role = '1'
                          AND t6.status = '1')
                     	OR  #{username}=t1.create_user)
         		AND t1.category NOT IN ('BP', 'CG')
		  <if test="proName != null and proName != ''" >
				AND T1.PROJECT_NAME LIKE '%'||#{proName}||'%'
		  </if>
		  <if test="proStatus != null and proStatus != ''" >
				AND T1.PROJECT_STATUS=#{proStatus}
		  </if>
		  AND T1.status='1'
	</select>
	<!--SELECT T3.EMPNAME
	FROM BG_PROJECT_USER T3
	WHERE T3.PROJECT_ID = T1.ID
	AND T3.ROLE = '1'
	AND T3.STATUS = '1') AS "principal",-->
	
	<!-- <select id="getProjectCount" parameterType="String" resultType="java.lang.Integer">
		SELECT COUNT(*)
            FROM BG_PROJECT_INFO t
            WHERE (#{username} IN
                 (SELECT username
                    FROM BG_SYS_USER t1
                    JOIN BG_PROJECT_USER t2
                      ON t1.hrcode = t2.hrcode
                   WHERE t2.project_id = t.id
                     AND t2.role = '1'
                     AND t2.status = '1')
                  OR  #{username}=t.create_user)
               <if test="proName != null and proName != ''" >
					AND t.PROJECT_NAME LIKE '%'||#{proName}||'%'
			  </if>
			  <if test="proStatus != null and proStatus != ''" >
					AND t.PROJECT_STATUS=#{proStatus}
			  </if>
			  AND t.status='1'
	</select> -->
	
	<insert id="addProInfo"  parameterType="com.sgcc.bg.model.ProjectInfoPo">
		INSERT INTO BG_PROJECT_INFO 
			(ID,PROJECT_NAME,CATEGORY,PROJECT_NUMBER,WBS_NUMBER,
			PROJECT_INTRODUCE,ORGAN_INFO,
			START_DATE,END_DATE,
			PLAN_HOURS,PROJECT_STATUS,DECOMPOSE,STATUS,
			CREATE_USER,CREATE_DATE,UPDATE_USER,UPDATE_DATE,
			SRC,PROJECT_GRADE)
		VALUES
			(#{id}, #{projectName,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
			#{projectNumber,jdbcType=VARCHAR},#{WBSNumber,jdbcType=VARCHAR},
			#{projectIntroduce,jdbcType=VARCHAR},#{organInfo,jdbcType=VARCHAR},
			#{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},
			#{planHours,jdbcType=NUMERIC},#{projectStatus,jdbcType=VARCHAR},#{decompose,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateUser,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},
			#{src,jdbcType=VARCHAR},#{projectGrade,jdbcType=VARCHAR})
	</insert>
	
	<insert id="addProUser"  parameterType="com.sgcc.bg.model.ProjectUserPo">
		INSERT INTO BG_PROJECT_USER 
			(ID,HRCODE,EMPNAME,PROJECT_ID,
			START_DATE,END_DATE,
			ROLE,STATUS,
			CREATE_USER,CREATE_DATE,UPDATE_USER,UPDATE_DATE,
			SRC,TASK,PLANHOURS)
		VALUES
			(#{id}, #{hrcode,jdbcType=VARCHAR},#{empName,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
			#{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},
			#{role,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateUser,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},
			#{src,jdbcType=VARCHAR},#{task,jdbcType=VARCHAR},#{planHours,jdbcType=DOUBLE})
	</insert>
	
	<update id="updateProInfo"  parameterType="com.sgcc.bg.model.ProjectInfoPo">
		UPDATE BG_PROJECT_INFO SET
			PROJECT_NAME=#{projectName,jdbcType=VARCHAR},
			CATEGORY=#{category,jdbcType=VARCHAR},
			PROJECT_NUMBER=#{projectNumber,jdbcType=VARCHAR},
			WBS_NUMBER=#{WBSNumber,jdbcType=VARCHAR},
			PROJECT_INTRODUCE=#{projectIntroduce,jdbcType=VARCHAR},
			ORGAN_INFO=#{organInfo,jdbcType=VARCHAR},
			START_DATE=#{startDate,jdbcType=DATE},
			END_DATE=#{endDate,jdbcType=DATE},
			PLAN_HOURS=#{planHours,jdbcType=NUMERIC},
			DECOMPOSE=#{decompose,jdbcType=VARCHAR},
			UPDATE_USER=#{updateUser,jdbcType=VARCHAR},
			UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP},
			PROJECT_GRADE=#{projectGrade,jdbcType=VARCHAR}
		WHERE ID=#{id} AND status='1'
	</update> 
	
	<delete id="deleteProUsersByProId" parameterType="java.lang.String">
		DELETE FROM BG_PROJECT_USER 
		WHERE 
		PROJECT_ID=#{proId}
	</delete>
	
	<select id="getProInfoByProId" resultType="map">
		SELECT T.ID AS "id",
           T.PROJECT_NAME AS "projectName",
           T.CATEGORY AS "category",
           T.PROJECT_NUMBER AS "projectNumber",
           T.WBS_NUMBER AS "WBSNumber",
           T.PROJECT_INTRODUCE AS "projectIntroduce",
           T.ORGAN_INFO AS "organInfo",
           TO_CHAR(T.START_DATE, 'yyyy-mm-dd') AS "startDate",
           TO_CHAR(T.END_DATE, 'yyyy-mm-dd') AS "endDate",
           T.PLAN_HOURS AS "planHours",
           T.PROJECT_STATUS AS "projectStatus",
           T.DECOMPOSE AS "decompose",
           T.STATUS AS "status",
           T.SRC AS "src",
           T.PROJECT_GRADE AS "projectGrade",
           T.RELATED_PROJECT_ID AS "relProId",
           (SELECT COUNT(DISTINCT T2.HRCODE)
              FROM BG_PROJECT_USER T2
             WHERE T2.PROJECT_ID = T.ID
               AND T2.STATUS = '1') AS "amount",

			(SELECT TO_CHAR(WM_CONCAT(DISTINCT T4.EMPNAME))
				 FROM BG_PROJECT_USER T4
				 LEFT JOIN BG_SYS_USER U2
				 ON   T4.HRCODE = U2.HRCODE
				 WHERE T4.PROJECT_ID = T.ID
				 AND T4.STATUS = '1'
				 and T4.Role='1') AS "principal",

			(SELECT TO_CHAR(WM_CONCAT(DISTINCT U3.USERNAME))
				FROM BG_PROJECT_USER T5
				LEFT JOIN BG_SYS_USER U3
				ON   T5.HRCODE = U3.HRCODE
				WHERE T5.PROJECT_ID = T.ID
				AND T5.STATUS = '1'
				and T5.Role='1') AS "username",

           (SELECT TO_CHAR(WM_CONCAT(DISTINCT T3.EMPNAME))
              FROM BG_PROJECT_USER T3
             WHERE T3.PROJECT_ID = T.ID
               AND T3.STATUS = '1') AS "empName",
           D.DEPTNAME AS "deptName",
           D.DEPTCODE AS "deptCode",
           SIGN((SELECT COUNT(1)
                  FROM BG_PROJECT_INFO
                 WHERE RELATED_PROJECT_ID = T.ID)) AS "isRelated"
				FROM BG_PROJECT_INFO T
				LEFT JOIN BG_SYS_DEPT D
					ON T.ORGAN_INFO = D.DEPTID
				 AND D.VALID = '1'
				LEFT JOIN BG_PROJECT_USER E
					ON T.ID = E.PROJECT_ID
				 AND E.ROLE = '1'
				 AND E.STATUS = '1'
			 WHERE rownum = 1 and T.ID = #{proId}
				 AND T.STATUS = '1'
	</select>
	
	<select id="getProPoByProId" parameterType="java.lang.String" resultType="com.sgcc.bg.model.ProjectInfoPo">
		SELECT
      		t.id as "id",
      		t.project_name as "projectName",
      		t.category as "category",
      		t.project_number as "projectNumber",
      		t.wbs_number as "WBSNumber",
      		t.project_introduce as "projectIntroduce",
			t.organ_info as "organInfo",
			t.start_date as "startDate",
			t.end_date as "endDate",
			t.plan_hours as "planHours",
			t.project_status as "projectStatus",
			t.decompose as "decompose",
			t.status as "status",
			t.create_date as "createDate",
			t.create_user as "createUser",
			t.update_date as "updateDate",
			t.update_user as "updateUser",
			t.related_project_id as "relatedProjectId",
			t.src as "src"
		FROM BG_PROJECT_INFO t
		WHERE t.id=#{proId} AND t.status='1'
	</select>

	<select id="getAllProInfos" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
      		t.id as "id",t.project_name as "projectName",t.category as "category",
      		t.project_number as "projectNumber",
      		t.wbs_number as "WBSNumber",t.project_introduce as "projectIntroduce",
			t.organ_info as "organInfo",to_char(t.start_date,'yyyy-mm-dd') as "startDate",
			to_char(t.end_date,'yyyy-mm-dd') as "endDate",
			t.plan_hours as "planHours",t.project_status as "projectStatus",
			t.decompose as "decompose",t.status as "status",
			(select count(distinct t2.hrcode) from BG_PROJECT_USER t2 where t2.project_id=t.id and t2.status='1') as "amount",
		    (select t3.empname from BG_PROJECT_USER t3 WHERE t3.project_id=t.id AND t3.role='1' AND t3.status='1') as "principal",
		    (select TO_CHAR(WM_CONCAT(distinct t3.empname)) from BG_PROJECT_USER t3 where t3.project_id=t.id AND t3.status='1') as "empName",
		    (select deptname from BG_SYS_DEPT where deptid=t.organ_info) as "deptName",
		    (select deptcode from BG_SYS_DEPT where deptid=t.organ_info) as "deptCode" 
		FROM BG_PROJECT_INFO t
		WHERE (#{username} IN
	                     (SELECT username
	                        FROM BG_SYS_USER t1
	                        JOIN BG_PROJECT_USER t2
	                          ON t1.hrcode = t2.hrcode
	                       WHERE t2.project_id = t.id
	                         AND t2.role = '1'
	                         AND t2.status = '1')
	                    	OR  #{username}=t.create_user)
		  AND t.status='1'
		ORDER BY t.UPDATE_DATE DESC
	</select>
	
	<select id="getProUsersByProId" parameterType="java.lang.String" resultType="java.util.Map">
		 SELECT T.ID,
		        T.HRCODE,
		        TO_CHAR(T.START_DATE, 'YYYY-MM-DD') AS START_DATE,
		        TO_CHAR(T.END_DATE, 'YYYY-MM-DD') AS END_DATE,
		        T.ROLE,
		        T.STATUS,
		        T.EMPNAME AS NAME,
		        T.TASK,
		        T.PLANHOURS,
		        DECODE(R.HRCODE, NULL, '0', '1') SYNC
		   FROM BG_PROJECT_USER T
		   LEFT JOIN BG_SYNC_EMP_RELATION R
		     ON T.PROJECT_ID = R.BG_PROJECT_ID
		    AND T.ID = R.BG_EMP_ID
		  WHERE T.PROJECT_ID = #{proId}
		    AND T.STATUS = '1'
		  ORDER BY T.ROLE DESC, T.START_DATE,T.HRCODE
	</select>
	
	<update id="deleteProjectByProId">
		UPDATE BG_PROJECT_INFO 
		SET STATUS='0',UPDATE_USER=#{updateUser,jdbcType=VARCHAR},UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP}
		WHERE ID=#{proId} AND status='1'
	</update>
	
	<update id="changeProStatusById"  parameterType="java.lang.String">
		UPDATE BG_PROJECT_INFO 
		SET PROJECT_STATUS=#{proStatus}
		WHERE ID=#{proId} AND status='1'
	</update>
	
	<select id="checkUniqueness" resultType="int">
		SELECT COUNT(1)
		FROM BG_PROJECT_INFO t
		WHERE t.wbs_number=#{wbsNumber} AND t.status='1'
	</select>
	
	<select id="getMaxBgNumber" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT COALESCE(MAX(SUBSTR(t.project_number,11)),'0') 
			FROM BG_PROJECT_INFO t 
		 WHERE SUBSTR(t.project_number,3,8)=#{currentDateStr} AND t.status='1'
	</select>
	
	<select id="getProIdByWBSNmuber" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t.id FROM BG_PROJECT_INFO t
			WHERE t.wbs_number=#{wbsNumber,jdbcType=VARCHAR} AND t.status='1'
	</select>
	
	
	<select id="getProIdByBgNmuber" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t.id FROM BG_PROJECT_INFO t
			WHERE t.project_number=#{projectNumber,jdbcType=VARCHAR} AND t.status='1'
	</select>
	
	<select id="getAllWbsNumbers" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t.wbs_number FROM BG_PROJECT_INFO t 	WHERE t.status='1'
	</select>
	
	<select id="getAllBgNumbers" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t.project_number FROM BG_PROJECT_INFO t 	WHERE t.status='1'
	</select>
	 
	<update id="updateProInfoField" parameterType="java.lang.String">
		UPDATE BG_PROJECT_INFO 
		SET 
		<choose>
			<when test="field =='start_date' or field == 'end_date'">
				${field}=TO_DATE(#{value},'yyyy-mm-dd')
			</when>
			<otherwise>
				${field}=#{value}
			</otherwise>
		</choose> 
		WHERE ID=#{proId} AND status='1'
	</update>
	
	
	<select id="getProInfoFieldByProId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT 
		<choose>
			<when test="field =='start_date' or field == 'end_date'">
				TO_CHAR(${field},'yyyy-mm-dd')
			</when>
			<otherwise>
				${field}
			</otherwise>
		</choose> 
		FROM BG_PROJECT_INFO  WHERE id=#{proId}
	</select>
	
	<select id="getDeptIdByDeptCode" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT deptid FROM BG_SYS_DEPT WHERE deptcode=#{deptCode}
	</select>
	
	<select id="getPrincipalCountByProId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BG_PROJECT_USER t WHERE t.role='1' AND t.status='1' AND t.project_id=#{proId}
	</select>
	
	<select id="getPartyDateByHrcode" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT TO_CHAR(t.start_date, 'yyyy-mm-dd')  as "startDate",
      		   TO_CHAR(t.end_date, 'yyyy-mm-dd') as "endDate"
 		 FROM BG_PROJECT_USER t
 		WHERE
 		 t.status = '1'
 		 AND t.project_id = #{proId}
 		 AND t.hrcode = #{hrCode}
	</select>
	
	<select id="getPrincipalCodeByProId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t.hrcode
  		 FROM BG_PROJECT_USER t
		WHERE t.status = '1'
   		 AND t.role='1'
   		 AND t.project_id = #{proId}
	</select>
	
	<select id="getBgWorkerByProId"  resultType="java.util.Map">
		SELECT U.USERALIAS AS NAME,U.HRCODE,
				TO_CHAR(T.WORK_TIME, 'yyyy-mm-dd') AS WORK_TIME,
				TO_CHAR(T.WORK_TIME_BEGIN, 'yyyy-mm-dd') AS WORK_TIME_BEGIN,
				TO_CHAR(T.WORK_TIME_END, 'yyyy-mm-dd') AS WORK_TIME_END
		  FROM BG_WORKINGHOUR_INFO T
		  JOIN BG_SYS_USER U
		    ON T.WORKER = U.USERNAME
		 WHERE T.PROJECT_ID = #{proId}
		   AND T.VALID = 1
	</select>
	
	<update id="changeEmpRoleByHrCode" parameterType="java.lang.String">
		UPDATE BG_PROJECT_USER T
		   SET T.ROLE = #{role}
		 WHERE T.PROJECT_ID = #{projectId}
		   AND T.STATUS = '1'
		   <if test="in_hrCode != null and in_hrCode != ''" >
			 AND T.HRCODE = #{in_hrCode}
		  </if>
		  <if test="ex_hrCode != null and ex_hrCode != ''" >
			 AND T.HRCODE != #{ex_hrCode}
		  </if>
	</update>
	
	<update id="updateProInfoFieldByField">
		UPDATE BG_PROJECT_INFO
		   SET ${fieldName} = #{targetVal,jdbcType=NULL}
		 WHERE ${fieldName} = #{fieldVal}
	</update>
	
	<!-- 获取科研系统的项目信息（未添加到报工系统的） -->
	<select id="getProjectsFromKY" resultType="java.util.Map">
		SELECT T.ID,
	           T.CATEGORY,
	           T.PROJECT_ID,
	           T.PROJECT_NAME,
	           T.WBS_NUMBER,
	           T.PROJECT_INTRODUCE,
	           T.START_DATE,
	           T.END_DATE
	      FROM BG_SYNC_KY_PROJECT T
	      JOIN BG_SYNC_KY_EMP E
	        ON T.PROJECT_ID = E.PROJECT_ID
	       AND E.VALID = '1'
	      JOIN BG_SYS_USER U
	        ON E.HRCODE = U.HRCODE
	     WHERE T.VALID = '1'
	       AND NOT EXISTS (SELECT 1
	              FROM BG_SYNC_PROJECT_RELATION R
	             WHERE R.SYNC_ID = T.PROJECT_ID
	               AND R.VALID = '1')
	       AND U.USERNAME = #{username}
	       AND E.ROLE = '1'
		   <if test="proName != null and proName != ''" >
			  AND T.PROJECT_NAME LIKE '%'||#{proName}||'%'
		   </if>
		   <if test="wbsNumber != null and wbsNumber != ''" >
			  AND T.WBS_NUMBER = #{wbsNumber}
		   </if>
	</select>
	
	<select id="getProjectsFromHX" resultType="java.util.Map">
		SELECT T.ID,
		       T.CATEGORY,
		       T.PROJECT_ID,
		       T.PROJECT_NAME,
		       T.WBS_NUMBER,
		       T.PROJECT_INTRODUCE,
		       T.START_DATE,
		       T.END_DATE
		  FROM BG_SYNC_HX_PROJECT T
		  JOIN BG_SYNC_HX_EMP E
		    ON T.PROJECT_ID = E.PROJECT_ID
		   AND E.VALID = '1'
		  JOIN BG_SYS_USER U
		    ON E.HRCODE = U.HRCODE
		 WHERE T.VALID = '1'
		   AND NOT EXISTS (SELECT 1
		          FROM BG_SYNC_PROJECT_RELATION R
		         WHERE R.SYNC_ID = T.PROJECT_ID
		           AND R.VALID = '1')
		   AND U.USERNAME = #{username}
		   AND E.ROLE = '1'
		   <if test="proName != null and proName != ''" >
			   AND T.PROJECT_NAME LIKE '%'||#{proName}||'%'
		   </if>
		   <if test="wbsNumber != null and wbsNumber != ''" >
			   AND T.WBS_NUMBER = #{wbsNumber}
		   </if>
	</select>
	
	<select id="getProInfoByProIdFromKY" resultType="java.util.Map">
		SELECT T.ID,
		       T.CATEGORY,
		       T.PROJECT_ID,
		       T.PROJECT_NAME,
		       T.WBS_NUMBER,
		       T.PROJECT_INTRODUCE,
		       T.START_DATE,
		       T.END_DATE
		  FROM BG_SYNC_KY_PROJECT T
		 WHERE T.VALID = '1'
		   AND T.PROJECT_ID = #{proId}
	</select>
	
	<select id="getEmpByProIdFromKY" resultType="java.util.Map">
		SELECT T.ID,
		       T.PROJECT_ID AS "projectId",
		       T.HRCODE AS "hrcode",
		       T.EMPNAME AS "stuffName",
		       T.START_DATE AS "startDate",
		       T.END_DATE AS "endDate",
		       T.ROLE AS "role",
		       T.PLANHOURS*22*24 AS "planHours"
		  FROM BG_SYNC_KY_EMP T
		 WHERE T.VALID = '1'
		   AND T.PROJECT_ID = #{proId}
	</select>
	
	<select id="getProInfoByProIdFromHX" resultType="java.util.Map">
		SELECT T.ID,
		       T.CATEGORY,
		       T.PROJECT_ID,
		       T.PROJECT_NAME,
		       T.WBS_NUMBER,
		       T.PROJECT_INTRODUCE,
		       T.START_DATE,
		       T.END_DATE
		  FROM BG_SYNC_HX_PROJECT T
		 WHERE T.VALID = '1'
		   AND T.PROJECT_ID = #{proId}
	</select>
	
	<select id="getEmpByProIdFromHX" resultType="java.util.Map">
		SELECT T.ID,
		       T.PROJECT_ID AS "projectId",
		       T.HRCODE AS "hrcode",
		       T.EMPNAME AS "stuffName",
		       T.START_DATE AS "startDate",
		       T.END_DATE AS "endDate",
		       T.ROLE AS "role",
		       T.PLANHOURS AS "planHours"
		  FROM BG_SYNC_HX_EMP T
		 WHERE T.VALID = '1'
		   AND T.PROJECT_ID = #{proId}
	</select>
	
	<!-- 添加报工系统项目和其来源系统的关联关系 -->
	<insert id="addProRelation">
		MERGE INTO BG_SYNC_PROJECT_RELATION T1
		USING (SELECT #{proId} AS BG_ID,
		              #{srcProId} AS SYNC_ID,
		              #{src} AS SRC
		         FROM DUAL) T2
		ON (T1.BG_ID = T2.BG_ID)
		WHEN MATCHED THEN
		  UPDATE SET T1.SYNC_ID = T2.SYNC_ID, T1.SRC = T2.SRC
		WHEN NOT MATCHED THEN
		  INSERT (BG_ID, SYNC_ID, SRC) VALUES (T2.BG_ID, T2.SYNC_ID, T2.SRC)
	</insert>
	
	<!-- 添加报工系统人员和其来源系统的关联关系 -->
	<insert id="addEmpRelation">
		INSERT INTO BG_SYNC_EMP_RELATION
		  (BG_EMP_ID, BG_PROJECT_ID, HRCODE, SRC)
		VALUES
		  (#{bgEmpId}, #{bgProId}, #{hrCode}, #{src})
	</insert>
	
	<!-- 删除项目关联信息 -->
	<delete id="deleteProRelation" >
		DELETE FROM BG_SYNC_PROJECT_RELATION
		 WHERE BG_ID =  #{proId}
	</delete>
	
	<!-- 删除项目关联信息 -->
	<delete id="deleteEmpRelation">
		DELETE FROM BG_SYNC_EMP_RELATION 
		 WHERE BG_PROJECT_ID = #{proId}
		 <if test="hrCode != null and hrCode != ''" >
			AND HRCODE = #{hrCode}
	    </if>
	</delete>
	
	<select id="getProRelation" resultType="java.util.Map">
		SELECT T.BG_ID, T.SYNC_ID, T.SRC
		  FROM BG_SYNC_PROJECT_RELATION T
		 WHERE T.VALID = '1'
	    <if test="proId != null and proId != ''" >
			AND T.BG_ID = #{proId}
	    </if>
	    <if test="srcProId != null and srcProId != ''" >
			AND T.SYNC_ID = #{srcProId}
	    </if>
	    <if test="src != null and src != ''" >
			AND T.SRC = #{src}
	    </if>
	</select>
	
	<select id="getBeforeProjects" resultType="java.util.Map">
		SELECT ROW_NUMBER() OVER(ORDER BY T.UPDATE_DATE DESC) AS RN,
		       T.ID AS "id",
		       T.PROJECT_NAME AS "projectName",
		       T.CATEGORY AS "category",
		       T.WBS_NUMBER AS "WBSNumber",
		       T.PROJECT_NUMBER AS "projectNumber",
		       T.PROJECT_INTRODUCE AS "projectIntroduce",
		       T.ORGAN_INFO AS "organInfo",
		       TO_CHAR(T.START_DATE, 'yyyy-mm-dd') AS "startDate",
		       TO_CHAR(T.END_DATE, 'yyyy-mm-dd') AS "endDate",
		       T.PLAN_HOURS AS "planHours",
		       T.PROJECT_STATUS AS "projectStatus",
		       T.DECOMPOSE AS "decompose",
		       T.STATUS AS "status",
		       T.SRC AS "src",
		       T.RELATED_PROJECT_ID AS "relProId",
		       (SELECT SUM(W.WORKING_HOUR)
		          FROM BG_WORKINGHOUR_INFO W
		         WHERE W.PROJECT_ID = T.ID
		           AND W.VALID = '1'
		           AND W.STATUS = '3') AS "workTime"
		  FROM BG_PROJECT_INFO T
		 WHERE T.STATUS = '1'
		   AND T.CATEGORY = 'BP'
		 <if test="deptId != null and deptId != ''" >
		   AND #{deptId} IN (SELECT D.DEPTID
		                       FROM BG_SYS_DEPT D
		                      WHERE D.VALID = '1'
		                      START WITH D.DEPTID = T.ORGAN_INFO
		                     CONNECT BY PRIOR D.DEPTID = D.PDEPTID)
	     </if>		                     
	     <if test="!isRelated" >
			 AND T.RELATED_PROJECT_ID IS NULL
	     </if>
	     <if test="isRelated" >
			 AND T.RELATED_PROJECT_ID = #{relProId,jdbcType=VARCHAR}
	     </if>
	   	 <if test="proName != null and proName != ''" >
			 AND T.PROJECT_NAME LIKE '%'||#{proName}||'%'
	     </if>
	</select>

	<update id="deleteBeforeProById">
		 UPDATE BG_PROJECT_INFO T
		     SET T.RELATED_PROJECT_ID = NULL
		   WHERE T.ID IN
		   <foreach  collection="array" item="id" open="("  separator="," close=")">
		        #{id} 
		   </foreach>
	</update>

	<!--<select id="listPrincipalStartDate" resultType="java.lang.String">
		SELECT TO_CHAR(t.start_date, 'yyyy-mm-dd')  as "startDate"
		FROM BG_PROJECT_USER t
		WHERE
		t.status = '1'
		AND t.ROLE='1'
		AND t.project_id = #{proId}
		order by t.start_date
	</select>-->

	<!--<select id="listPrincipalEndDate" resultType="java.lang.String">
		SELECT TO_CHAR(t.end_date, 'yyyy-mm-dd') as "endDate"
 		 FROM BG_PROJECT_USER t
 		WHERE
 		 t.status = '1'
 		 AND t.ROLE='1'
 		 AND t.project_id = #{proId}
 		 order by t.end_date
	</select>-->

	<select id="listPrincipalDate" resultType="java.util.Map">
		SELECT TO_CHAR(t.start_date, 'yyyy-mm-dd')  as "startDate"，
				TO_CHAR(t.end_date, 'yyyy-mm-dd') as "endDate"，
				t.EMPNAME as "empName",
				t.project_id AS "projectId",
				t.ROLE AS "role"
		FROM BG_PROJECT_USER t
		WHERE
		t.status = '1'
		AND t.ROLE='1'
		AND t.project_id = #{proId}
		order by t.start_date
	</select>

	<select id="getProjectsInfo" resultType="java.util.Map">
		SELECT TO_CHAR(START_DATE, 'yyyy-mm-dd')  as "startDate"，
				TO_CHAR(END_DATE, 'yyyy-mm-dd') as "endDate",
				PROJECT_NUMBER AS "projectNumber"
		FROM BG_PROJECT_INFO
		WHERE ID = #{proId}
		AND STATUS = '1'
	</select>

    <select id="hourSum" resultType="java.lang.Double">
        SELECT nvl(sum(WORKING_HOUR),0) as hourSum from BG_WORKINGHOUR_INFO
        WHERE PROJECT_ID = #{id}
        AND VALID = '1'
    </select>

	<select id="qianQiSum" resultType="java.lang.Double">
		SELECT nvl(SUM(W.WORKING_HOUR),0) as qianQiSum
		FROM BG_WORKINGHOUR_INFO W
		WHERE W.PROJECT_ID IN (select a.id from bg_project_info  a
								where a.RELATED_PROJECT_ID = #{id}
								and a.STATUS = '1')
		AND W.VALID = '1'
	</select>

	<select id="workingHour" resultType="java.lang.Double">
		SELECT nvl(sum(a.WORKING_HOUR),0) from BG_WORKINGHOUR_INFO a
       		 left join BG_SYS_USER u
			 on a.worker = u.username
        WHERE a.PROJECT_ID = #{proId}
		and u.hrcode = #{hrcode}
        AND a.VALID = '1'
        and u.VALID = '1'
	</select>

	<select id="userWorker" resultType="java.util.Map">
		select NVL(SUM(T.WORKING_HOUR),0),
				t.worker,
				u.hrcode,
				TO_CHAR(T.work_time_begin, 'yyyy-mm') AS "dateTime",
				TO_CHAR(T.work_time_begin, 'yyyy-mm-dd') AS "WORK_TIME_BEGIN",
				TO_CHAR(T.work_time_end, 'yyyy-mm-dd') AS "WORK_TIME_END"
		from BG_WORKINGHOUR_INFO t
		LEFT JOIN BG_SYS_USER u
		ON u.username = t.worker
		where t.PROJECT_ID = #{proId}
		and t.VALID = '1'
		and u.VALID = '1'
		group by t.work_time_begin,t.work_time_end ,t.worker,u.hrcode
	</select>

	<select id="projectTime" resultType="java.util.Map">
		SELECT u.ID,u.HRCODE, u.PROJECT_ID,u.START_DATE,u.END_DATE
		from BG_PROJECT_USER u
		WHERE u.PROJECT_ID = #{proId}
		AND u.STATUS= '1'
	</select>

	<select id="userDateOld" resultType="java.util.Map">
		SELECT u.ID,
				u.HRCODE,
				u.PROJECT_ID,
				TO_CHAR(u.START_DATE, 'yyyy-mm-dd') AS "START_DATE",
				TO_CHAR(u.END_DATE, 'yyyy-mm-dd') AS "END_DATE"
		from BG_PROJECT_USER u
		WHERE u.PROJECT_ID = #{proId}
		and u.HRCODE = #{hrCode}
		AND u.STATUS= '1'
	</select>

	<select id="userWorkingInfo" resultType="java.util.Map">
		SELECT W.WORKING_HOUR,
				W.PROJECT_ID,
				W.APPROVER,
				W.WORKER,
				U.USERALIAS,
				TO_CHAR(W.WORK_TIME_BEGIN, 'yyyy-mm-dd') AS "WORK_TIME_BEGIN",
				TO_CHAR(W.WORK_TIME_END, 'yyyy-mm-dd') AS "WORK_TIME_END"
		FROM BG_WORKINGHOUR_INFO W
		left join BG_SYS_USER U
		ON W.WORKER = U.USERNAME
		WHERE W.VALID = '1'
		AND U.VALID = '1'
		<if test="hrCode != null and hrCode != ''">
			AND U.HRCODE= #{hrCode}
		</if>
		<if test="proId != null and proId != ''">
			AND W.PROJECT_ID = #{proId}
		</if>
		<if test="start != null and start != ''">
			AND W.WORK_TIME_BEGIN >= TO_DATE(#{start}, 'yyyy-mm-dd')
		</if>
		<if test="end != null and end != ''">
			AND W.WORK_TIME_END  &lt;= TO_DATE(#{end}, 'yyyy-mm-dd')
		</if>
	</select>

	<select id="projectMap" resultType="java.util.Map">
		SELECT ID,
		        TO_CHAR(START_DATE, 'yyyy-mm-dd') AS "START_DATE",
				TO_CHAR(END_DATE, 'yyyy-mm-dd') AS "END_DATE"
		FROM bg_project_info
		WHERE  ID = #{proId}
		and STATUS = '1'
	</select>
</mapper>