<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.ConfigMapper">
    <select id="getConfig" resultType="java.util.Map">
        select t.key,t.value from bg_sys_config t 
    </select>
    <!-- 
    <select id="getFileInfo" resultType="com.sgcc.bg.model.FileEntity">
        select * from tb_common_attachment t where t.id=#{fileid}
    </select>
    
    <update id="updateDownloadNum" parameterType="String">
		update tb_common_attachment t set t.download_num=t.download_num+1 where t.id=#{id}
	</update>
    
    <insert id="insertFileInfo"  parameterType="com.sgcc.bg.model.FileEntity">
    	insert into tb_common_attachment (id,originname,uploadname,extname,filepath,filesize,username,createdate,soucre,download_num) 
    	values (#{id},#{originname},#{uploadname},#{extname},#{filepath},#{filesize},#{username},sysdate,#{soucre},0)
	</insert>
    
    <select id="getUserLoginList" resultType="java.util.Map">
    	select rownum r, ttt.* from
	        (select t.uwlid,
		       tt.useralias,
		       t.username,
		       t.loginip,
		       t.logintype,
		       to_char(t.datecreated, 'yyyy-mm-dd hh24:mi:ss') as datecreated
		    from tb_user_weblog t
			  left join tb_user tt on tt.username = t.username
			  where 1=1
			  <if test="username != null and username != ''" >
					and t.username like '%'||#{username}||'%'
			  </if>
			  <if test="endDate != null and endDate != ''" >
					<![CDATA[and t.datecreated < to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')]]>
			  </if>
			  <if test="beginDate != null and beginDate != ''" >
					<![CDATA[and t.datecreated > to_date(#{beginDate},'yyyy-mm-dd hh24:mi:ss')]]>
			  </if>
			  order by t.datecreated desc) ttt
    </select>
    
    <select id="getUserLoginLogList" resultType="java.util.Map">
        select rownum r, tt.*
			  from (select t.remark,
			               to_char(t.datecreated, 'yyyy-mm-dd hh24:mi:ss') as datecreated
			          from TB_LOGS t
			         where t.uwlid = #{uwlID}
			         order by t.datecreated desc) tt
    </select>
    
    <select id="getCurrentLoginInfo" resultType="java.util.Map">
        select to_char(t.datecreated,'yyyy-mm-dd hh24:mi:ss') as datecreated,t.username from tb_user_weblog t where t.uwlid=#{uwlID}
    </select>
    
    <select id="getNextLoginInfo" resultType="java.util.Map">
        select to_char(min(t.datecreated), 'yyyy-mm-dd hh24:mi:ss') datecreated
		  from tb_user_weblog t
		 <![CDATA[where t.datecreated > to_date(#{datecreated}, 'yyyy-mm-dd hh24:mi:ss')]]>
		   and t.username = #{username}
    </select>
    
    <select id="getAuditInfo" resultType="java.util.Map">
        select to_char(t.auditdate,'yyyy-mm-dd hh24:mi:ss') auditdate
		  from audititem t
		<![CDATA[where t.auditdate < to_date(#{begindate}, 'yyyy-mm-dd hh24:mi:ss')]]>
		<![CDATA[and t.auditdate > to_date(#{enddate}, 'yyyy-mm-dd hh24:mi:ss')]]>
		   and t.audituserid = #{username}
    </select>
    
    <select id="getDeptByUsername" resultType="java.util.Map">
       	select tt.DEPTID,tt.DEPTNAME
		  from TB_DEPT tt
		 where tt.DEPTID =
		       (select t.DEPTID from TB_USER t where t.USERNAME = #{username} and rownum = 1 )

    </select>
    
    <select id="getPDeptByUsername" resultType="java.util.Map">
        select t.DEPTID, t.DEPTNAME
		  from TB_DEPT t
		 where t.PTYPE = '0'
		   and t.TYPE = '1'
		connect by prior t.PDEPTID = t.DEPTID
		 start with t.DEPTID =
		            (select tu.DEPTID from TB_USER tu where tu.USERNAME = #{username} and rownum = 1)
    </select>
   -->
</mapper>