<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.bg.mapper.DataSendMapper">
	<select id="queryList" resultType="java.util.Map">
		select t.id,
	       t.wt_year,
	       t.wt_season,
	       t.emp_code,
	       DECODE(t.wt_type, '0', '非项目工作', '1', '项目工作') as wt_type,
	       t.project_id,
	       t.wbs_code,
	       t.wbs_name,
	       t.total_input_time,
	       t.input_time,
	       t.input_percentage,
	       u.useralias,
	       A.useralias as project_leader,
	       DECODE(t.project_role, '0', '项目参与人', '1', '项目负责人') as project_role,
	       TO_CHAR(t.update_time, 'yyyy-MM-dd') AS update_time
	  from bg_interface_bsp t
	  LEFT JOIN bg_sys_user u
	    ON u.HRCODE = t.emp_code
	     LEFT JOIN bg_sys_user A
    	ON A.HRCODE = t.project_leader
	 where 1 = 1		
		<if test="year!=null and year!='' and year!=0">
			 and t.wt_year = #{year}
		</if>		
		<if test="timeSort!=null and timeSort!=''">
			 and t.wt_season = #{timeSort}
		</if>	
		<if test="projectName!=null and projectName!=''">
			 and t.wbs_name like '%'||#{projectName}||'%'
		</if>
		<if test="Btype!=null and Btype!=''">
			 and t.wt_type = #{Btype}
		</if>
		<if test="time!=null and time!=''">
			 and to_char(t.update_time,'yyyy-mm-dd') = #{time}
		</if>
		<if test="userName!=null and userName!=''">
			 and u.useralias like '%'||#{userName}||'%'
		</if>
		and t.update_time = (select max(t1.update_time)
	                          from BG_INTERFACE_BSP t1
	                         where 1=1
	                           <if test="year!=null and year!='' and year!=0">
									 and t1.wt_year = #{year}
								</if>		
								<if test="timeSort!=null and timeSort!=''">
									 and t1.wt_season = #{timeSort}
								</if>
								<if test="time!=null and time!=''">	
	                                and to_char(t1.update_time, 'yyyy-mm-dd') =  #{time}
	                           </if>
	                         )
	</select>
	<!---->
	<select id="queryCounted" resultType="double">
		select decode(SUM(t.working_hour),null,0,SUM(t.working_hour))
	  	from BG_WORKINGHOUR_INFO t
	  	LEFT JOIN bg_sys_user u
    	ON u.USERNAME = t.worker
    	LEFT JOIN BG_PROJECT_INFO A
    	ON A.ID = t.PROJECT_ID
    	    where 1=1 and t.status='3' and t.valid = 1
		<if test="projectId!=null and projectId!=''">
			AND t.project_id IN (
			SELECT P.ID FROM BG_PROJECT_INFO P
			WHERE P.STATUS=1
			AND P.CATEGORY = 'BP'
			AND P.RELATED_PROJECT_ID = #{projectId})
			OR 1=1
		</if>

		<if test="startTime!=null and startTime!=''"> 
			 <![CDATA[and t.work_time >=  TO_DATE(#{startTime}, 'yyyy-mm-dd hh24:mi:ss')]]>
		</if>
		<if test="endTime!=null and endTime!=''">
			 <![CDATA[and t.work_time <=  TO_DATE(#{endTime}, 'yyyy-mm-dd hh24:mi:ss')]]>
		</if>
		<if test="empCode!=null and empCode!=''">
			 and  u.hrcode = #{empCode}
		</if>
		<if test="wbsCode!=null and wbsCode!=''">
			 and A.PROJECT_NUMBER = #{wbsCode}
		</if>
		<if test="projectId!=null and projectId!=''">
			 and t.PROJECT_ID = #{projectId}
		</if>
		<if test="type!=null and type!=''">
			 and A.category = #{type}
		</if>
	</select>
	
	<select id="queryCount" resultType="java.util.Map">
		select 
		t.input_time,
		to_char(t.update_time, 'yyyy-MM-dd') as update_time,
		t.wt_year,
		t.wt_season
		  from (select *
		          from BG_INTERFACE_BSP t
		         where 1=1
				 <if test="year!=null and year!=''"> 
					 and  t.wt_year = #{year}
				 </if>
				 <if test="Ctype!=null and Ctype!=''">
					 and  t.wt_season = #{Ctype}
				 </if>
				 <if test="empCode!=null and empCode!=''">
					 and  t.emp_code = #{empCode}
				 </if>	
				 <if test="projectId!=null and projectId!=''">
					 and  t.project_id = #{projectId}
				 </if>
				 <if test="Btype!=null and Btype!=''">
					 and  t.wt_type = #{Btype}
				 </if>
				 <if test="time!=null and time!=''">
					<!--  and  t.update_time = #{time} -->
					and TO_CHAR(t.update_time, 'yyyy-mm-dd') = #{time}
				 </if>
		         order by t.update_time desc) t
		 where ROWNUM = 1
	</select>
	<select id="queryCounts"  resultType="java.util.Map">
       
       SELECT * FROM (
        SELECT W.* ,Z.HRCODE   as XMHRCODE ,X.USERALIAS as  XMUSERALIAS  from   (
        
             SELECT HRCODE,
               WORKER,
               USERALIAS,
               PROJECT_ID,
               PROJECT_NAME,
               WBS_NUMBER,
               CATEGORY,
               CATEGORYNAME,
               sum(WORKING_HOUR) as WORKING_HOUR,
               decode(ROLE,
                      0,
                      '项目参与人',
                      1,
                      '项目负责人',
                      2,
                      '项目执行人') as ROLE
          from (select A.ID,
                       to_char(A.WORK_TIME, 'yyyy-mm-dd') as WORK_TIME,
                       NVL(B.CATEGORY, A.CATEGORY) as CATEGORY,
                       DECODE(A.CATEGORY, 'NP', '0', '1') AS CATEGORYNAME,
                       NVL(B.PROJECT_NAME, A.PROJECT_NAME) as PROJECT_NAME,
                       B.WBS_NUMBER,
                       A.JOB_CONTENT,
                       A.WORKING_HOUR,
                       A.PROJECT_ID,
                       A.APPROVER,
                       A.STATUS,
                       A.WORKER,
                       A.VALID,
                       C.HRCODE,
                       D.ROLE,
                       C.USERALIAS
                
                  from BG_WORKINGHOUR_INFO A
                  LEFT JOIN BG_PROJECT_INFO B
                    ON A.PROJECT_ID = B.ID
                  LEFT JOIN BG_SYS_USER C
                    ON A.WORKER = C.USERNAME
                  LEFT JOIN BG_PROJECT_USER D
                    ON D.HRCODE = C.HRCODE
                   AND A.PROJECT_ID = D.PROJECT_ID
                 where A.VALID = 1
                   and A.STATUS = 3
                   <if test="StartData!= null and StartData!= ''">
                   and   to_char(WORK_TIME,'yyyy-mm-dd') &gt;= #{StartData} 
                   </if>
                   <if test="EndData!= null and EndData!= ''">
                   and   to_char(WORK_TIME,'yyyy-mm-dd') &lt;= #{EndData} 
                   </if>
               	
                   ) T
         where 1 = 1
         GROUP BY T.HRCODE,
                  T.WORKER,
                  T.USERALIAS,
                  T.PROJECT_ID,
                  T.PROJECT_NAME,
                  T.WBS_NUMBER,
                  T.CATEGORYNAME,
                  T.ROLE,
                  T.CATEGORY
                  
        
        )   W   LEFT JOIN BG_PROJECT_USER   Z
    ON  W.PROJECT_ID = Z.PROJECT_ID  
   AND Z.ROLE = '1'
    LEFT JOIN BG_SYS_USER X
    ON Z.HRCODE = X.HRCODE
       ) where 1=1
       <if test="projectName!= null and projectName!= ''">
        and   PROJECT_NAME like '%' || #{projectName} || '%' 
       </if>
       <if test="useralias!= null and useralias!= ''">
		and   USERALIAS like '%' || #{useralias} || '%' 
	   </if>
	   <if test="categoryName!= null and categoryName!= ''">
		  and   CATEGORYNAME like '%' || #{categoryName} || '%' 
	   </if>
        
         order by HRCODE
 
		  
	</select>
	
	
</mapper>