<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.DemoMapper">
	<select id="getAll" resultType="java.util.Map">
        select * from dual
    </select>
    <!-- <select id="getAll" resultType="java.util.Map">
        select * from test_user
    </select>
    
    <insert id="addUser"  parameterType="int">
		insert into test_user (id,name, sex,age)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR})
	</insert>
	
	<delete id="delUser" parameterType="String">
		delete from test_user
		where id = #{0}
	</delete>
	
	<update id="editUser" parameterType="hashMap">
		update test_user
		set name=#{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="getAudititemDemo" resultType="java.util.Map">
        select t.id,t.audittitle,t.auditstatus,t.precessid,t.taskid,t.auditorigin,to_char(t.createdate,'yyyy-mm-dd hh24:mi') as createdate,t.audituserid from audititem t  where 1=1
        <if test="title != null and title != ''" >
				and t.audittitle like '%'||#{title}||'%'
		</if>
		<if test="startTime != null and startTime != ''" >
				<![CDATA[and to_char(t.createdate,'yyyy-mm-dd hh24:mi:ss') > #{startTime}]]>
		</if>
		<if test="endTime != null and endTime != ''" >
				<![CDATA[and to_char(t.createdate,'yyyy-mm-dd hh24:mi:ss') < #{endTime}]]>
		</if>
		<if test="approveStatus != null and approveStatus != ''" >
				and t.auditstatus = #{approveStatus}
		</if>
		<if test="orgin != null and orgin != ''" >
				and t.auditorigin = #{orgin}
		</if>
        order by t.createdate desc
    </select> -->
</mapper>