<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.bg.mapper.DeptMapper">

	<resultMap type="com.sgcc.bg.model.HRDept" id="HRDept">
		<result property="deptId" column="deptId"  jdbcType="VARCHAR"></result>
		<result property="deptType" column="deptType" jdbcType="VARCHAR"></result>
		<result property="deptName" column="deptName" jdbcType="VARCHAR"></result>
		<result property="parentId" column="parentId" jdbcType="VARCHAR"></result>
	</resultMap>
	
	<!-- <resultMap id="BaseResultMap" type="com.sgcc.newtygl.aone" >
	    <id column="A101" property="a101" jdbcType="DECIMAL" />
	    <result column="A102" property="a102" jdbcType="VARCHAR" />
	    <result column="A103" property="a103" jdbcType="VARCHAR" />
	    <result column="ROLE" property="role" jdbcType="VARCHAR" />
  	</resultMap> -->
  	<insert id="addAll" parameterType="com.sgcc.bg.model.HRDept">
    	insert into BG_ERP_HR_DEPT (deptId,deptName,deptType,parentId,updateDate) 
    	values (#{deptId,jdbcType=VARCHAR},#{deptName,jdbcType=VARCHAR},#{deptType,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},sysdate)
    </insert>
	<select id="getDataFromDept" resultType="java.util.Map">
		<!-- select * from BG_ERP_HR_DEPT -->
		select * from BG_ERP_HR_DEPT where 1=1
		
		<if test="deptId!=null and deptId!='' and deptId!=0">
			 and deptId = #{deptId}
		</if>
		
		<if test="deptType!=null and deptType!=''">
			 and deptType = #{deptType}
		</if>	
	</select>	
	<delete id="deleteFromDept">
		<if test="deptId =='all'">
			delete from BG_ERP_HR_DEPT
		</if>
		<if test="deptId!='all'">
			delete from BG_ERP_HR_DEPT where deptId = #{deptId}
		</if>
	</delete>
	<delete id="deleteFromUser">
		<if test="deptId =='all'">
			delete from BG_ERP_HR_USER
		</if>
		<if test="deptId!='all'">
			delete from BG_ERP_HR_USER where deptId = #{deptId}
		</if>
	</delete>
	
    <insert id="addAllUser"  parameterType="com.sgcc.bg.model.HRUser">
    	insert into BG_ERP_HR_USER (hrCode,userName,userAlias,userStatus,userSex,birthDate,jobdate,userDeptCode,userDeptName,userPostCode,userPostName,userStation,userMajor,userEdu,userCard,userTel,userPhone,userEmail,userPostalCode,userAddr,userTax,userNation,userCountry,employeeNumber) 
    	values (#{hrCode,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{userAlias,jdbcType=VARCHAR},#{userStatus,jdbcType=VARCHAR},#{userSex,jdbcType=VARCHAR},#{birthDate,jdbcType=VARCHAR},#{jobdate,jdbcType=VARCHAR},#{userDeptCode,jdbcType=VARCHAR},#{userDeptName,jdbcType=VARCHAR},#{userPostCode,jdbcType=VARCHAR},#{userPostName,jdbcType=VARCHAR},#{userStation,jdbcType=VARCHAR},#{userMajor,jdbcType=VARCHAR},#{userEdu,jdbcType=VARCHAR},#{userCard,jdbcType=VARCHAR},#{userTel,jdbcType=VARCHAR},#{userPhone,jdbcType=VARCHAR},#{userEmail,jdbcType=VARCHAR},#{userPostalCode,jdbcType=VARCHAR},#{userAddr,jdbcType=VARCHAR},#{userTax,jdbcType=VARCHAR},#{userNation,jdbcType=VARCHAR},#{userCountry},#{employeeNumber,jdbcType=VARCHAR})
    </insert>
    
    <select id="queryExportPrjs" parameterType="java.util.List" resultType="java.util.Map">
		SELECT * from BG_ERP_HR_DEPT where 1=1 
		<if test="deptId != null " >
			and DEPTID = #{deptId} 
		</if>
		
	</select>
	
	<insert id="syncHrOrganData">
		MERGE INTO TB_DEPT D
		 USING (SELECT DEPTID ORGANID,
		              DECODE(DEPTTYPE, 'UNIT', 0, 'DEPT', 1, 'LAB', 2) TYPE,
		              DEPTNAME,
		              PARENTID PORGANID
		         FROM TB_TEMP_HR_DEPT) T
		 ON (D.ORGANID = T.ORGANID)
		WHEN MATCHED THEN
		  UPDATE
		     SET D.DEPTNAME = T.DEPTNAME, D.PORGANID = T.PORGANID, D.TYPE = T.TYPE
		 WHEN NOT MATCHED THEN
		  INSERT
		    (DEPTID, DEPTNAME, ORGANID, PORGANID, TYPE)
		  VALUES
		    (SYS_GUID(), T.DEPTNAME, T.ORGANID, T.PORGANID, T.TYPE)
	</insert>
	<insert id="syncHrFatherData">
		MERGE INTO TB_DEPT A
			USING (SELECT DEPTID, ORGANID, DEPTNAME, TYPE FROM TB_DEPT) B
			ON (A.PORGANID = B.ORGANID)
			WHEN MATCHED THEN
			UPDATE
			SET A.PDEPTID = B.DEPTID, A.PDEPTNAME = B.DEPTNAME, A.PTYPE = B.TYPE
	</insert>
</mapper>