<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.ManualSyncZHDataMapper">
   <!--将同步操作信息保存到数据库表中-->
    <insert id="insertOperationRecord" parameterType="java.util.Map">
        INSERT INTO BG_SYNC_REQUEST
        (
        UUID,REQUEST_TYPE,OPERATION_STATUS,START_DATE,END_DATE,CREATE_DATE,CREATE_USER_ID,ERROR_MESSAGE,REMARK,UPDATE_DATE
        )
        VALUES (
           SYS_GUID(),
           #{requestType,jdbcType=VARCHAR},
           #{operationStatus,jdbcType=VARCHAR},
           #{startDate,jdbcType=VARCHAR},
           #{endDate,jdbcType=VARCHAR},
           #{createDate,jdbcType=VARCHAR},
           #{createUserId,jdbcType=VARCHAR},
           #{errorMessage,jdbcType=VARCHAR},
           #{requestRemark,jdbcType=VARCHAR},
           SYSDATE
        )
    </insert>

    <select id="getAllOperationRecord" resultType="java.util.Map">
        SELECT R.CREATE_USER_ID,
                R.OPERATION_STATUS,
                R.START_DATE,
                R.END_DATE,
                R.ERROR_MESSAGE,
                R.REQUEST_TYPE,
                R.UPDATE_DATE,
                U.USERNAME
        FROM BG_SYNC_REQUEST R
        LEFT JOIN BG_SYS_USER U
        ON R.CREATE_USER_ID = U.HRCODE
        WHERE 1=1
        <if test="dataType != null and dataType !=''">
            AND REQUEST_TYPE = #{dataType}
        </if>
        <if test="userName != null and userName != ''">
            AND  OPERATION_USER LIKE '%'||#{userName}||'%'
        </if>
        ORDER BY UPDATE_DATE DESC
    </select>
</mapper>