<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.ManualSyncZHDataMapper">
   <!--将同步操作信息保存到数据库表中-->
    <insert id="insertOperationRecord" parameterType="com.sgcc.bg.model.OperationRecordPo">
        INSERT INTO BG_SYNC_ZH_OPERATION_RECORD
        (
        UUID,OPERATION_USER,OPERATION_CONTENT,OPERATION_STATUS,OPERATION_START_DATE,OPERATION_END_DATE,CREATE_DATE,CREATE_USER,ERROR_INFO,DATA_MARK
        )
        VALUES (
           SYS_GUID(),#{operationUser,jdbcType=VARCHAR},
           #{operationContent,jdbcType=VARCHAR},
           #{operationStatus,jdbcType=VARCHAR},
           #{operationStartDate,jdbcType=VARCHAR},
           #{operationEndDate,jdbcType=VARCHAR},
           #{createDate,jdbcType=VARCHAR},
           #{createUser,jdbcType=VARCHAR},
           #{errorInfo,jdbcType=VARCHAR},
           #{dataMark,jdbcType=VARCHAR}
        )
    </insert>

    <select id="getAllOperationRecord" resultType="java.util.Map">
        SELECT
        OPERATION_USER,OPERATION_CONTENT,OPERATION_STATUS,OPERATION_START_DATE,OPERATION_END_DATE,ERROR_INFO
         FROM
        BG_SYNC_ZH_OPERATION_RECORD
        WHERE 1=1
        <if test="dataType != null">
            AND DATA_MARK = #{dataType}
        </if>
        <if test="userName != null and userName != ''">
            AND  OPERATION_USER LIKE '%'||#{userName}||'%'
        </if>
    </select>
</mapper>