<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.ProjectSyncMapper">

    <select id="selectProjectInfoKY" resultType="java.util.Map">
        SELECT P.ID,
                P.PROJECT_ID,
                P.CATEGORY,
                P.PROJECT_NAME,
                P.WBS_NUMBER,
                P.PROJECT_INTRODUCE,
                P.START_DATE,
                P.END_DATE,
                to_char(P.CREATE_DATE,'yyyy-mm-dd')	CREATE_DATE,
                COUNT(E.ID) AS USERNUM
        from BG_SYNC_KY_PROJECT P
        left join BG_SYNC_KY_EMP E
        ON P.PROJECT_ID = E.PROJECT_ID
        AND E.VALID='1'
        WHERE P.valid = '1'
        <if test="projectName!= null and projectName != ''">
            AND  P.PROJECT_NAME LIKE '%'||#{projectName,jdbcType=VARCHAR}||'%'
        </if>
        GROUP BY   P.ID,
                    P.PROJECT_ID,
                    P.CATEGORY,
                    P.PROJECT_NAME,
                    P.WBS_NUMBER,
                    P.PROJECT_INTRODUCE,
                    P.START_DATE,
                    P.END_DATE,
                    P.CREATE_DATE
        ORDER BY P.CREATE_DATE DESC
    </select>

    <select id="selectProjectInfoHX" resultType="java.util.Map">
        SELECT P.ID,
                P.PROJECT_ID,
                P.CATEGORY,
                P.PROJECT_NAME,
                P.WBS_NUMBER,
                P.PROJECT_INTRODUCE,
                P.START_DATE,
                P.END_DATE,
                to_char(P.CREATE_DATE,'yyyy-mm-dd')	CREATE_DATE,
                COUNT(E.ID) AS USERNUM
        from BG_SYNC_HX_PROJECT P
        left join BG_SYNC_HX_EMP E
        ON P.PROJECT_ID = E.PROJECT_ID
        AND E.VALID='1'
        WHERE P.valid = '1'
        <if test="projectName!=null and projectName != ''">
            AND  P.PROJECT_NAME LIKE '%'||#{projectName}||'%'
        </if>
        GROUP BY   P.ID,
                    P.PROJECT_ID,
                    P.CATEGORY,
                    P.PROJECT_NAME,
                    P.WBS_NUMBER,
                    P.PROJECT_INTRODUCE,
                    P.START_DATE,
                    P.END_DATE,
                    P.CREATE_DATE
        ORDER BY P.CREATE_DATE DESC
    </select>

    <select id="selectProjectInfoJS" resultType="java.util.Map">
        SELECT P.ID,
                P.PROJECT_ID,
                P.CATEGORY,
                P.PROJECT_NAME,
                P.WBS_NUMBER,
                P.PROJECT_INTRODUCE,
                P.START_DATE,
                P.END_DATE,
                P.PROJECT_ORGANIZE,
                to_char(P.CREATE_DATE,'yyyy-mm-dd')	CREATE_DATE,
                D.DEPTNAME,
                COUNT(E.ID) AS USERNUM
        from BG_SYNC_KY_JS_PROJECT P
        LEFT  join BG_SYS_DEPT  D
        ON D.DEPTCODE = P.PROJECT_ORGANIZE
        AND D.VALID = '1'
        left join BG_SYNC_KY_JS_EMP E
        ON P.PROJECT_ID = E.PROJECT_ID
        AND E.VALID='1'
        WHERE P.valid = '1'
        <if test="projectName!=null and projectName != ''">
            AND  P.PROJECT_NAME LIKE '%'||#{projectName}||'%'
        </if>
        GROUP BY   P.ID,
                    P.PROJECT_ID,
                    P.CATEGORY,
                    P.PROJECT_NAME,
                    P.WBS_NUMBER,
                    P.PROJECT_INTRODUCE,
                    P.START_DATE,
                    P.END_DATE,
                    P.CREATE_DATE，
                    P.PROJECT_ORGANIZE，
                    D.DEPTNAME
        ORDER BY P.CREATE_DATE DESC
    </select>

    <select id="getProjectUserKY" resultType="java.util.Map">
        SELECT ID,
                PROJECT_ID,
                HRCODE,
                EMPNAME,
                START_DATE,
                END_DATE,
                ROLE,
                PLANHOURS
        FROM BG_SYNC_KY_EMP
        WHERE VALID = '1'
        AND PROJECT_ID = #{proId}
        ORDER BY ROLE DESC
    </select>

    <select id="getProjectUserHX" resultType="java.util.Map">
        SELECT ID,
                PROJECT_ID,
                HRCODE,
                EMPNAME,
                START_DATE,
                END_DATE,
                ROLE,
                PLANHOURS
        FROM BG_SYNC_HX_EMP
        WHERE VALID = '1'
        AND PROJECT_ID = #{proId}
        ORDER BY ROLE DESC
    </select>

    <select id="getProjectUserJS" resultType="java.util.Map">
        SELECT ID,
                PROJECT_ID,
                HRCODE,
                EMPNAME,
                START_DATE,
                END_DATE,
                ROLE,
                PLANHOURS
        FROM BG_SYNC_KY_JS_EMP
        WHERE VALID = '1'
        AND PROJECT_ID = #{proId}
        ORDER BY ROLE DESC
    </select>
</mapper>