<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.RequestManagerMapper">
   <!--将同步操作信息保存到数据库表中-->
    <insert id="insertOperationRecord" parameterType="java.util.Map">
        INSERT INTO BG_SYS_REQUEST_MANAGER
        (
        UUID,REQUEST_TYPE,STATUS,START_DATE,END_DATE,CREATE_DATE,CREATE_USER,MESSAGE,REMARK,UPDATE_DATE,UPDATE_USER
        )
        VALUES (
           SYS_GUID(),
           #{requestType,jdbcType=VARCHAR},
           #{operationStatus,jdbcType=VARCHAR},
           TO_DATE(#{startDate},'yyyy-MM-dd HH24:MI:SS'),
           TO_DATE(#{endDate},'yyyy-MM-dd HH24:MI:SS'),
           TO_DATE(#{createDate},'yyyy-MM-dd HH24:MI:SS'),
           #{createUserId,jdbcType=VARCHAR},
           #{message,jdbcType=VARCHAR},
           #{requestRemark,jdbcType=VARCHAR},
           SYSDATE,
           #{createUserId,jdbcType=VARCHAR}

        )
    </insert>

    <select id="getAllOperationRecord" resultType="java.util.Map">
        SELECT R.CREATE_USER,
                R.STATUS,
                to_char(R.START_DATE,'yyyy-MM-dd HH24:MI:SS') AS START_DATE,
                to_char(R.END_DATE,'yyyy-MM-dd HH24:MI:SS') AS END_DATE,
                R.MESSAGE,
                R.REQUEST_TYPE,
                R.CREATE_DATE,
                U.USERNAME
        FROM BG_SYS_REQUEST_MANAGER R
        LEFT JOIN BG_SYS_USER U
        ON R.CREATE_USER = U.USERID
        WHERE 1=1
        <if test="dataType != null and dataType !=''">
            AND REQUEST_TYPE = #{dataType}
        </if>
        <if test="userName != null and userName != ''">
            AND  R.CREATE_USER IN(
            SELECT USERID FROM BG_SYS_USER WHERE USERNAME LIKE '%'||#{userName}||'%'
            )
        </if>
        ORDER BY  R.CREATE_DATE DESC
    </select>
</mapper>