<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgcc.bg.mapper.StaffWorkingHourManageMaper">

	<select id="getWorkHourInfoByCondition" resultType="java.util.Map">
		SELECT *
  			FROM (SELECT ROWNUM rn, p.*
          			FROM (SELECT 
          				t.id,
          				to_char(t.work_time,'yyyy-mm-dd') work_time,
                       (SELECT deptname
                          FROM BG_SYS_DEPT
                         WHERE deptid = t.dept_id) as dept,
                       (SELECT deptname
                          FROM BG_SYS_DEPT
                         WHERE deptid = t.lab_id) as lab,
                       u.useralias as username,
                       u.hrcode,
                       DECODE(t.category,
			              'NP',
			              t.project_name,
			              p.project_name) as project_name,
		      	      DECODE(t.category,
		              	'NP',
		              	'非项目工作',
		               	(SELECT name FROM BG_SYS_DATADICTIONARY  WHERE pcode='category100002' and vaild=1 and code=p.category)) as category,
                       t.job_content,
                       t.working_hour,
                       t.approver as approver_username,
                       a.useralias as approver,
                       t.status
                  FROM BG_WORKINGHOUR_INFO t
                   LEFT JOIN BG_SYS_USER u 
   				   ON u.username=t.worker
   				   LEFT JOIN BG_SYS_USER a 
   				   ON a.username=t.approver
   				   LEFT JOIN BG_PROJECT_INFO p
   				   ON p.id=t.project_id
                 WHERE t.valid=1 
         			AND  (SELECT R.DEPTID FROM BG_SYS_USER_DEPT_RELATION R
       			      		WHERE R.USERID = u.userid
         				AND trunc(sysdate) BETWEEN R.EXP_START_TIME AND R.EXP_END_TIME
         			 	AND ((R.SRC = 0 AND NOT EXISTS
               			(SELECT R1.USERID
                   			FROM BG_SYS_USER_DEPT_RELATION R1
                  				WHERE R1.USERID = R.USERID
                    			AND trunc(sysdate) BETWEEN R1.EXP_START_TIME AND R1.EXP_END_TIME
                   			AND R1.VALID = 1
                    			AND R1.SRC = 1)) OR R.SRC IN (1, 2))
          			 	AND R.VALID = 1
        			 	AND ROWNUM = 1) IN (${deptIds})
                 <!-- <if test="deptCode != null and deptCode != ''" >
						AND (SELECT deptid
                          FROM BG_SYS_DEPT
                         WHERE deptcode = #{deptCode}) =
                       DECODE((SELECT type
                                FROM BG_SYS_DEPT
                               WHERE deptcode = #{deptCode}),
                              2,
                              t.lab_id,
                              t.dept_id)
				  </if> -->
				  <if test="startDate != null and startDate != ''" >
	                   <![CDATA[AND t.work_time >= TO_DATE(#{startDate}, 'yyyy-mm-dd')]]>
				  </if>
				  <if test="endDate != null and endDate != ''" >
				  		 <![CDATA[AND t.work_time <= TO_DATE(#{endDate}, 'yyyy-mm-dd')]]>
				  </if>
                 <if test="category != null and category != ''" >
                 	AND  DECODE(t.category,'NP',t.category,p.category) = #{category}
                 </if>
                 <if test="proName != null and proName != ''" >
                 	AND DECODE(t.category,
			              'NP',
			              t.project_name,
			              p.project_name) LIKE '%'||#{proName}||'%'
                 </if>
                 <if test="empName != null and empName != ''" >
                	AND u.useralias LIKE '%'||#{empName}||'%'
                 </if>
                 <if test="status != null and status != ''" >
                	 AND t.status=#{status}
                 </if>
                 ORDER BY t.work_time,t.create_time DESC) p
   		<![CDATA[WHERE ROWNUM<=#{end})]]>
		<![CDATA[WHERE rn>#{start}]]>
	</select>
	
	<select id="getItemCount" parameterType="String" resultType="java.lang.Integer">
		SELECT COUNT(*)
                 FROM BG_WORKINGHOUR_INFO t
                 LEFT JOIN BG_SYS_USER u 
   				   ON u.username=t.worker
   				 LEFT JOIN BG_PROJECT_INFO p
   				   ON p.id=t.project_id
                WHERE t.valid=1
                 AND (SELECT R.DEPTID
         			FROM BG_SYS_USER_DEPT_RELATION R
       			 WHERE R.USERID = u.userid
         			 AND trunc(sysdate) BETWEEN R.EXP_START_TIME AND R.EXP_END_TIME
         			 AND ((R.SRC = 0 AND NOT EXISTS
               			(SELECT R1.USERID
                   			FROM BG_SYS_USER_DEPT_RELATION R1
                  				WHERE R1.USERID = R.USERID
                    			AND trunc(sysdate) BETWEEN R1.EXP_START_TIME AND R1.EXP_END_TIME
                   			AND R1.VALID = 1
                    			AND R1.SRC = 1)) OR R.SRC IN (1, 2))
          			AND R.VALID = 1
        			AND ROWNUM = 1) IN (${deptIds})   
                <!-- <if test="deptCode != null and deptCode != ''" >
						AND (SELECT deptid
                          FROM BG_SYS_DEPT
                         WHERE deptcode = #{deptCode}) =
                       DECODE((SELECT type
                                FROM BG_SYS_DEPT
                               WHERE deptcode = #{deptCode}),
                              2,
                              t.lab_id,
                              t.dept_id)
				  </if> -->
				  <if test="startDate != null and startDate != ''" >
	                   <![CDATA[AND t.work_time >= TO_DATE(#{startDate}, 'yyyy-mm-dd')]]>
				  </if>
				  <if test="endDate != null and endDate != ''" >
				  		 <![CDATA[AND t.work_time <= TO_DATE(#{endDate}, 'yyyy-mm-dd')]]>
				  </if>
                 <if test="category != null and category != ''" >
                 	AND  DECODE(t.category,'NP',t.category,p.category) = #{category}
                 </if>
                 <if test="proName != null and proName != ''" >
                 	AND DECODE(t.category,
			              'NP',
			              t.project_name,
			              p.project_name) LIKE '%'||#{proName}||'%'
                 </if>
                 <if test="empName != null and empName != ''" >
                 	AND u.useralias LIKE '%'||#{empName}||'%'
                 </if>
                 <if test="status != null and status != ''" >
                	 AND t.status=#{status}
                 </if>
	</select>
	
	<select id="getWorkHourInfoById" parameterType="String" resultType="java.util.Map">
		SELECT t.id,
         TO_CHAR(t.work_time,'yyyy-mm-dd') as work_time,
         DECODE(t.category,
            'NP',
            t.project_name,
            p.project_name) as project_name,
  	     DECODE(t.category,
           'NP',
           '非项目工作',
           (SELECT name FROM BG_SYS_DATADICTIONARY  WHERE pcode='category100002' and vaild=1 and code=p.category)) as category,
         t.job_content,
         t.working_hour,
         t.APPROVER as approver,
         r.useralias as empname,
         r.hrcode  as hrcode,
         p.wbs_number
	    FROM BG_WORKINGHOUR_INFO t
	    	LEFT JOIN BG_PROJECT_INFO p
   			ON p.id=t.project_id AND p.status='1'
	        LEFT JOIN   BG_SYS_USER  r  ON  r.username=t.worker
	   WHERE t.id =#{id} AND t.valid=1
	</select>
	
	<select id="getSelectedWorkHourInfoById" parameterType="String" resultType="java.util.Map">
		SELECT 
			   TO_CHAR(t.work_time, 'yyyy-mm-dd') as work_time,
		       (SELECT deptname FROM BG_SYS_DEPT WHERE deptid = t.dept_id) as dept,
		       (SELECT deptname FROM BG_SYS_DEPT WHERE deptid = t.lab_id) as lab,
		       r.useralias as username,
		       r.hrcode as hrcode,
		       (SELECT name FROM BG_SYS_DATADICTIONARY  WHERE pcode='category100002' and vaild=1 and code=NVL(p.category,t.category)) as category,
		       NVL(p.project_name,t.project_name) as project_name,
		       t.job_content,
		       t.working_hour,
		       t.APPROVER as approver_username,
		       f.useralias as approver,
		       t.status
	  		FROM BG_WORKINGHOUR_INFO t
		  		LEFT JOIN BG_PROJECT_INFO p
	   			ON p.id=t.project_id and p.status='1'
	   			LEFT JOIN BG_SYS_USER  r  ON  r.username=t.worker
	        	LEFT JOIN   BG_SYS_USER  f  ON  f.username=t.approver
	     	 WHERE t.id =#{id} AND t.valid=1
	</select>
	
	<select id="getPeriodOvertime" parameterType="String" resultType="double">
		SELECT COALESCE(SUM(DECODE(tws.schedule_type,
                   0,
                   DECODE(SIGN(tws.today_hours - 8),
                          1,
                          (tws.today_hours - 8),
                          0),
                   1,
                   tws.today_hours)),0)
  		 FROM (SELECT wh.*, ws.schedule_type
           FROM (SELECT t.work_time, SUM(t.working_hour) as today_hours
                   FROM BG_WORKINGHOUR_INFO t
                  WHERE t.worker = #{username}
                  AND t.valid=1
                  AND t.status='1'
                  	<![CDATA[
                    AND t.work_time >= TO_DATE(#{startDate}, 'yyyy-mm-dd')
                    AND t.work_time <= TO_DATE(#{endDate}, 'yyyy-mm-dd')
	 				AND t.work_time <> TO_DATE(#{selectedDate}, 'yyyy-mm-dd')
 					]]>
                  GROUP BY t.work_time) wh
           JOIN BG_SYS_WORK_SCHEDULE ws
             ON wh.work_time = ws.schedule_date) tws
	</select>
	
	<select id="todaySubmitedWorkHour" parameterType="String" resultType="double">
		SELECT COALESCE(SUM(t.working_hour),0) today_submit_workhour
 			 FROM BG_WORKINGHOUR_INFO t
				 WHERE t.worker = #{username}
				 	AND t.valid=1
   					AND t.status IN ('1','3')
   					AND t.work_time = TO_DATE(#{selectedDate}, 'yyyy-mm-dd')
	</select>
	
	<select id="getDayType" parameterType="String" resultType="int">
		SELECT bws.schedule_type
    	 FROM BG_SYS_WORK_SCHEDULE bws
   			 WHERE bws.schedule_date = TO_DATE(#{selectedDate}, 'yyyy-mm-dd')
	</select>
	
	<update id="updateWorkHourInfoById" parameterType="com.sgcc.bg.model.WorkHourInfoPo">
		UPDATE BG_WORKINGHOUR_INFO 
		SET 
			project_name = #{proName,jdbcType=VARCHAR},
			job_content = #{jobContent,jdbcType=VARCHAR},
			working_hour = #{workHour,jdbcType=NUMERIC},
			<if test="status!=null and status!=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="processId!=null and processId!=''">
				process_id=#{processId,jdbcType=VARCHAR},
			</if>
			update_user=#{updateUser,jdbcType=VARCHAR},
			update_time=#{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id} AND valid=1
	</update>
	
	<update id="changeWorkHourInfoStatus" parameterType="String">
		UPDATE BG_WORKINGHOUR_INFO SET status = #{status,jdbcType=VARCHAR}
			WHERE valid=1
			<if test="id!=null and id!=''">
				AND id = #{id,jdbcType=VARCHAR}
			</if>
	</update>
	
	<update id="InvalidWorkHourInfoById">
		UPDATE BG_WORKINGHOUR_INFO SET
			VALID=0,
			UPDATE_USER=#{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
		WHERE ID=#{id} AND valid=1
	</update>
	
	<insert id="addWorkHourInfo"  parameterType="com.sgcc.bg.model.WorkHourInfoPo">
		INSERT INTO BG_WORKINGHOUR_INFO 
			(
			ID,
			CATEGORY,
			PROJECT_ID,
			PROJECT_NAME,
			JOB_CONTENT,
			WORKING_HOUR,
			APPROVER,
			WORKER,
			DEPT_ID,
			LAB_ID,
			WORK_TIME,
			STATUS,
			VALID,
			PROCESS_ID,
			CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME)
		VALUES
			(#{id,jdbcType=VARCHAR}, 
			#{category,jdbcType=VARCHAR}, 
			#{proId,jdbcType=VARCHAR}, 
			#{proName,jdbcType=VARCHAR},
			#{jobContent,jdbcType=VARCHAR},
			#{workHour,jdbcType=NUMERIC},
			#{approver,jdbcType=VARCHAR},
			#{worker,jdbcType=VARCHAR},
			#{deptId,jdbcType=VARCHAR},
			#{labId,jdbcType=VARCHAR},
			#{workTime,jdbcType=DATE},
			#{status,jdbcType=VARCHAR},
			#{valid,jdbcType=VARCHAR},
			#{processId,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateUser,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP})
	</insert>
</mapper>