<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.sgcc.bg.mapper.UserInfoMapper">
	<!-- 根据用户名或人资编号获取用户最新信息-->
    <select id="getCommonCurrentUserByUsernameOrHrCode" resultType="java.util.Map">
		SELECT U.USERID,
		       U.USERNAME,
		       U.HRCODE,
		       U.USERALIAS,
		       D.PDEPTID,
		       D2.DEPTNAME PDEPTNAME,
		       D.DEPTID,
		       D.DEPTNAME,
		       D.PDEPTCODE, 
		       D.DEPTCODE,
		       U.STATE,
		       U.MOBILE,
		       U.EMAIL,       
		       D.TYPE
		  FROM BG_SYS_USER_DEPT_RELATION R
		 INNER JOIN BG_SYS_USER U
		    ON U.USERID = R.USERID
		 INNER JOIN BG_SYS_DEPT D
		    ON D.DEPTID = R.DEPTID
		 INNER JOIN BG_SYS_DEPT D2
		    ON D.PDEPTID = D2.DEPTID
		 WHERE 1 = 1
		   <if test="type=='userName'">
           AND U.USERNAME = #{userName,jdbcType=VARCHAR}
           </if>
           <if test="type=='hrCode'">
           AND U.HRCODE = #{hrCode,jdbcType=VARCHAR}
           </if>
		   AND TO_DATE(#{curDate,jdbcType=VARCHAR},'yyyy-MM-dd') BETWEEN R.EXP_START_TIME AND R.EXP_END_TIME
		   AND ((R.SRC = 0 AND NOT EXISTS
		        (SELECT R1.USERID
		            FROM BG_SYS_USER_DEPT_RELATION R1
		           WHERE R1.USERID = R.USERID
		             AND TO_DATE(#{curDate,jdbcType=VARCHAR},'yyyy-MM-dd') BETWEEN R1.EXP_START_TIME AND R1.EXP_END_TIME
		             AND R1.VALID = 1
		             AND R1.SRC = 1)) OR R.SRC IN (1,2))
		   AND R.VALID = 1
		   AND ROWNUM = 1
     </select> 
	<!--  获取用户管理角色列表 -->
    <select id="getUserRoleByUserName" resultType="java.util.Map">
		SELECT U.USERID,
		       U.USERNAME,
		       U.USERALIAS,
		       U.HRCODE,
		       R.ROLE_NAME,
		       R.ROLE_CODE
		  FROM BG_SYS_PRIV_USER_R_ROLE T
		 INNER JOIN BG_SYS_ROLE R
		    ON R.ID = T.ROLE_ID
		   AND R.VALID = 1
		 INNER JOIN BG_SYS_USER U
		    ON U.USERID = T.USER_ID
		   AND U.STATE = 0
		   AND U.VALID = 1
		 WHERE 1 = 1
		   AND U.USERNAME = #{userName, jdbcType = VARCHAR}
		   AND T.VALID = 1
    </select>
    <!--  获取用户组织权限列表 -->
    <select id="getUserOrganPrivByUserName" resultType="java.util.Map">
		SELECT U.USERID,
		       U.USERNAME,
		       U.USERALIAS,
		       U.HRCODE,
		       D.DEPTID,
		       D.DEPTNAME,
		       D.TYPE,
		       D.DEPTCODE,
		       D.PDEPTID,
		       D.PDEPTNAME,
		       D.PDEPTCODE
		  FROM BG_SYS_PRIV_USER_R_ORGAN T
		 INNER JOIN BG_SYS_USER U
		    ON U.USERID = T.USER_ID
		   AND U.STATE = 0
		   AND U.VALID = 1
		 INNER JOIN BG_SYS_DEPT D
		    ON D.DEPTID = T.ORGAN_ID
		   AND D.VALID = 1
		 WHERE 1 = 1
		   AND U.USERNAME = #{userName, jdbcType = VARCHAR}
		   AND D.TYPE = #{roleType, jdbcType = VARCHAR}
		   AND T.VALID = 1
    </select>    
    <!--  根据用户名称获取对象 -->
    <select id="getUserByUserName" resultType="java.util.Map">
		select T.USERID,
		       T.USERNAME,
		       T.USERALIAS,
		       T.HRCODE,
		       T.SEX,
		       T.EMAIL,
		       T.MOBILE,
		       T.CARDID,
		       to_char(T.BIRTHDAY,'yyyy-MM-dd') BIRTHDAY,
		       T.HRDEPTCODE,		      
		       T.STATE,
		       D.DEPTID
		  from bg_SYS_USER T
		  LEFT JOIN bg_SYS_DEPT D
		    ON T.HRDEPTCODE = D.DEPTCODE
		 where t.username = #{userName, jdbcType = VARCHAR}
    </select>    
    <!--  根据用户ID获取对象 -->
    <select id="getUserByUserId" resultType="java.util.Map">
		select T.USERID,
		       T.USERNAME,
		       T.USERALIAS,
		       T.HRCODE,
		       T.SEX,
		       T.EMAIL,
		       T.MOBILE,
		       T.CARDID,
		       to_char(T.BIRTHDAY,'yyyy-MM-dd') BIRTHDAY,
		       T.HRDEPTCODE,		      
		       T.STATE,
		       D.DEPTID
		  from bg_SYS_USER T
		  LEFT JOIN bg_SYS_DEPT D
		    ON T.HRDEPTCODE = D.DEPTCODE
		 where t.USERID = #{userId, jdbcType = VARCHAR}
    </select>    
</mapper>